.main {
    background-color: #0e1117;
}

.card {
    background: #262730;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #3a3b45;
}

.card h1 {
    color: #4da6ff;
    font-size: 48px;
}

.card h3 {
    color: white;
}

.card p {
    color: #cccccc;
}

.box {
    background: #262730;
    padding: 25px;
    border-radius: 15px;
    min-height: 250px;
    border: 1px solid #3a3b45;
    color: white;
}

section[data-testid="stSidebar"] {
    background-color: #0e1117;
}